BOT_TOKEN=
TELEGRAM_CHAT_ID=
ALLOWED_TELEGRAM_IDS=655435297,8477263540,1671095454

SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

APP_URL=
DAILY_REPORT_CRON_SECRET=
CRON_SECRET=
TZ=Europe/Moscow
